*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #e9e9e9;
}

#title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bolder;
}

#new-button-container, #delete-btn-container{
    display: flex;
    justify-content: center;
}

#new-book-button, #delete-all-button{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;   
    color: #ffffff;
    font-weight: bold;
}

#new-book-button{
    margin-top: 30px;
    background-color: #000000;
}

#new-book-button:hover{
    background-color: #515151;
}

#new-book-button:active{
    background-color: #393939;
}

#delete-all-button{
    background-color: #ff0000;
    padding-left: 18px;
    padding-right: 18px;
}

#delete-all-button:hover{
    background-color: #ff5454;
}

#delete-all-button:active{
    background-color: #ff2a2a;
}

#card-container{
    display: flex;
    justify-self: center;

    height: 550px;
    width: 1400px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 225px;
}

#card-container .book {
    height: 175px;
    width: 200px;
    border-radius: 20px;
    background-color: #070053;
    color: #ffffff;
}

#card-container .book:hover{
    height: 180px;
    width: 205px;
}

#card-container .book > *{
    margin-left: 10px;
}

#card-container .book .title-text{
    font-size: 22px;
    font-weight: bold;
    margin-top: 14px;
}

#card-container .book .author-text{
    font-size: 18px;
    margin-top: 10px;
}

#card-container .book .page-count-text, 
#card-container .book .checked-container .has-read-text{
    font-size: 14px;    
    margin-top: 4px;
}

#card-container .book #checked-container{
    display: flex;
    margin-top: 15px;
    gap: 5px;
}

#card-container .book button{
    margin-top: 10px;
    padding: 4px;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    border: none;
}

#card-container .book .delete-button{
    background-color: #ff0000;
    font-weight: bolder;
}

dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    border: none;
}

dialog input{
    background-color: #d3d3d3;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #000000;
}

dialog input::placeholder{
    color: #313131;
    font-size: 14px;
    font-weight: normal;
}

dialog label{
    font-size: 14px;
}

dialog button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #008000;
}