*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #e9e9e9;
}

#button-container{
    display: flex;
    justify-content: center;
}

#new-book-button{
    padding: 15px;
    margin: 30px;
    border-radius: 10px;
    border: none;   
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

#new-book-button:hover{
    background-color: #515151;
}

#new-book-button:active{
    background-color: #393939;
}

#card-container{
    display: flex;
    justify-self: center;

    height: 550px;
    width: 1400px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 225px);
}

#card-container .book {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(7, 0, 83);
    color: #ffffff;
}

#card-container .book:hover{
    height: 205px;
    width: 205px;
}

#card-container .book > *{
    margin-left: 10px;
}

#card-container .book .title-text{
    font-size: 20px;
    font-weight: bold;
    margin-top: 14px;
}

#card-container .book .author-text{
    font-size: 18px;
    margin-top: 10px;
}

#card-container .book .page-count-text, 
#card-container .book .checked-container .has-read-text{
    font-size: 14px;    
    margin-top: 4px;
}

#card-container .book #checked-container{
    display: flex;
    gap: 5px;
}

#card-container .book #checked-container .has-read-box:hover{
    width: 15px;
}