*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #e9e9e9;
}

#button-container{
    display: flex;
    justify-content: center;
}

#new-book-button{
    padding: 15px;
    margin: 30px;
    border-radius: 10px;
    border: none;   
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

#new-book-button:hover{
    background-color: #515151;
}

#new-book-button:active{
    background-color: #393939;
}

#card-container{
    display: flex;
    justify-self: center;

    height: 550px;
    width: 1400px;
    background-color: #ffc2cc;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, fr);
    gap: 10px;
}

#card-container .book {
    height: 150px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(7, 0, 83);
}

#card-container .book .title-text{
    color: #ffffff;
    margin: 10px;

}